@model FeedReader.Models.RemoveSubscriptionModel 

@using (Html.BeginForm("Remove", "Subscription"))
{
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m=> m.SubscriptionId)
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                    <h4 class="modal-title" id="myModalLabel">Confirmation</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to remove this subscription?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary" id="btnUnsubscribe">Unsubscribe</button>
                </div>
            </div>
}