@{
    ViewBag.Title = "Bozeman's About Page";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Accomplished technical professional with 8+ years of experience guiding teams through all software development phases, from requirements gathering and analysis to design, development, testing, deployment and maintenance. Leverages vision and passion with a computer science background for designing or developing applications for all types of customer needs. Development achievements include mobile, Web, and instructional/education/game-like based systems.</p>
<br />
<p>Please Visit: LinkedIn - <a href="http://www.linkedin.com/in/donaldbozeman" target="_blank">My LinkedIn Page</a> | Twitter - <a href="http://www.twitter.com/dsbozeman" target="_blank">My Twitter Page</a></p>
