@{
    ViewBag.Title = "Bozeman's Contact Info";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Donald Bozeman<br />
    Hopefully to be working at Praeses<br />
    330 Marshall Street, Suite 800<br />
    Shreveport, La 71101<br />
    <abbr title="Phone">P:</abbr>
    318.424.8125
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:dsbozeman@praeses.com">dsbozeman@praeses.com</a><br />
    <strong>Business Technologies:</strong> <a href="mailto:btsolutions@praeses.com">btsolutions@praeses.com</a>
</address>