
@{
    ViewBag.Title = "About";
}

<h2>About</h2>

<div class="row">
    <p>This should be a descriptive page providing useful details about the Feed Reader Application and 
    the persons responsible for creating and maintaining this application.</p>
</div>