@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    414 W Louisiana<br />
    Vivian, LA 71082<br />
    <abbr title="Phone">P:</abbr>
    512.560.9681
</address>

<address>
    <b>Email:</b> <a href="mailto:tbenfitz@gmail.com">tbenfitz@gmail.com</a>
</address>