@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Feed Reader</h2>
    <p class="lead"><a href="/Account/Login">Login</a> or <a href="/Account/Register">Register</a> to get started.</p>
    
</div>

