@{
    ViewBag.Title = "Home Page";
}

<div class="containerDiv center-text logo_min">
    <h1>Welcome to The Pulse RSS feed</h1>    
    <p class="lead">
        <img class="pulse_logo" src="~/Content/Images/pulse logo.png" alt="Pulse Logo" />
        Please Login or Create a New Account
        <img class="pulse_logo" src="~/Content/Images/pulse logo.png" alt="Pulse Logo" />
    </p>
</div>
