@{
    ViewBag.Title = "Home Page";
}


        <input type="text" id="rssFeedUrl" size="300" placeholder="https://bestRssFeeds.com/" />
        <input type="button" value="Add Feed" class="btn btn-primary btn-lg" onclick="addRssFeed($('#rssFeedUrl').val());"/>

        <div>
            <input type="text" id="searchText" size="300" placeholder="Search..." />
        </div>
        <div>
            <input type="button" value="Refresh Feeds" class="btn btn-primary btn-lg" onclick="resetContent(); " />
        </div>



<div id="feedHolder"class="row">
    <ul id="feedList">
        
    </ul>
</div>

<li id="template" class="hidden">
    <div class="title" style="font-weight:bold;"></div>
    <div class="content"></div>
    <div class="publishDate"></div>
</li>

@section Scripts{
    <script type="text/javascript">
        var currentPage = 1;
        var searchTimeout;

        $(document).ready(function () {
            var win = $(window);

            win.scroll(function () {
                if ($(document).height() - win.height() == win.scrollTop()) {
                    currentPage++;
                    getUserFeeds($('#searchText').val(), currentPage);
                }
            });

            $('#searchText').on('keyup', function () {
                window.clearTimeout(searchTimeout);

                searchTimeout = setTimeout(function () {
                    resetContent();
                }, 500);
            });

            updateUserFeed();
            getUserFeeds('', currentPage);
        })

        function updateUserFeed() {
            $.ajax({
                url: '/home/UpdateUserFeeds',
                type: 'POST',
                data: {},
                success: function (result) {

                }
            });
        }

        function getUserFeeds(search, page) {
            $.ajax({
                url: '/home/GetUserRssFeeds',
                type: 'POST',
                data: { 'search' : search, 'page' : page},
                success: function (result) {
                    buildFeedItems(result);
                }
            });
        }

        function addRssFeed(rssFeedUrl) {
            $.ajax({
                url: '/home/addRssFeed',
                type: 'POST',
                data: { 'rssFeedUrl': rssFeedUrl },
                success: function (result) {
                    alert(result.message);
                    if (result.error == false)
                        resetContent();
                }
            });
        }

        function buildFeedItems(feedItems) {
            var template;

            $.each(feedItems, function (index, element) {
                template = $('#template').clone();
                template.removeClass('hidden');
                template.find('.title').text(element.Title);
                template.find('.content').text(element.Description);
                template.find('.publishDate').text(element.PublishDate);

                template.appendTo('#feedList');
            });
        }

        function resetContent() {
            currentPage = 1;
            $('#feedList').empty();
            updateUserFeed();
            getUserFeeds($('#searchText').val(), currentPage);
        }
    </script>
}