@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron top-buffer backInBlack jumbotron-color">
    <h2>Welcome to EmberRss</h2>
    <p class="lead">
        EmberRss provides an easy way to keep up with your favorite RSS feeds. What are you waiting for?
    </p>
    <p>
        @Html.ActionLink("Register now!", "Register", "Account", routeValues: null, htmlAttributes: new { @class = "orangeLink"}) or
        <a href="@Url.Action("Login","Account")" class="orangeLink">Login with Google or Facebook.</a>
    </p>
</div>

<div class="row">
    <div class="col-md-4">
       
    </div>
    <div class="col-md-4">
       
    </div>
    <div class="col-md-4">
        
    </div>
</div>