@model IEnumerable<FeedReader.Models.UserSubscription>

@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-sm-3">
        <div>
            <h2>Manage Subscriptions</h2>@*TODO: Move this functionality to the top-bar layout to keep this page dealing with simply data*@
            <p>
                Subscribe to RSS Feeds 
            </p>
            @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
            <p><button onclick="location.href='@Url.Action("Index", "UserSubscriptions")'">Subscriptions</button></p>
        </div>
        <div>
            <h2>Search</h2>
            <p>Search for specific content</p>
            @using(Html.BeginForm())
            {
                @Html.TextBox("searchString")
                <input type="submit" value="Search"/>
            }
        </div>
        <div>
            <h2>Reserved</h2>
            <p>Reserved</p>
        </div>
    </div>
    <div class="col-lg-8">
        <h1>Feed Reader</h1>
        @foreach(var sub in Model)
        {
            { 
                Html.RenderAction("_feed", "UserSubscriptions", new { id = @sub.ID });
            }
        }
    </div>

</div>