@{
    ViewBag.Title = "Home Page";
}        

<div style="padding-top:20px;">
    <div style="float:right;">
        <input type="text" id="searchText" size="50" placeholder="Search" />
    </div>
    <div>        
        <span>
            Now Viewing:
            <select id="feedSelectFilter" class="selectpicker" onchange="clearContent();getUserFeeds(false);">
                <option value="">All Feeds</option>
            </select>
        </span>
        <div class="dropdown" style="display:inline;">
            <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon glyphicon-cog" style="padding-right:2px;"></span><span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#" data-toggle="modal" data-target="#addModal" onclick="$('#rssFeedUrl').val('');">Add</a></li>
                <li><a href="#" data-toggle="modal" data-target="#removeModal" onclick="populateRemoveFeeds(); $('#feedRemoveSelect').val('default'); $('#removeFeedButton').prop('disabled', true);">Remove</a></li>
                <li><a href="#" onclick="clearContent();getUserFeeds(true);">Refresh</a></li>
            </ul>
        </div>
    </div>
</div>
<div id="feedHolder" class="row" style="padding:10px;">
    <ul id="feedList">        
    </ul>
</div>

<li id="template" class="hidden" style="cursor:pointer;list-style:none;">
    <div class="title" style="font-weight:bold;padding-bottom:2px;"></div>
    <div class="content"></div>
    <div class="publishDate" style="padding-top:2px;"></div>
    <div style="border-top: 1px solid #d9d9d9;margin:20px;"></div>
</li>

<div id="addModal" class="modal fade" rold="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add Feed</h4>
            </div>
            <div class="modal-body">
                Feed URL: <input type="text" id="rssFeedUrl" size="100" placeholder="https://bestRssFeeds.com/" />
            </div>
            <div class="modal-footer">
                <input type="button" value="Add Feed" class="btn btn-primary btn-sm" data-dismiss="modal" onclick="addRssFeed($('#rssFeedUrl').val());" />
                <button type="button" class="btn btn-defaul btn-sm" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="removeModal" class="modal fade" rold="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Remove Feed</h4>
            </div>
            <div class="modal-body">
                <select id="feedRemoveSelect" class="selectpicker" onchange="$('#removeFeedButton').prop('disabled', false);">
                    <option disabled selected value="default"> -- select a feed -- </option>
                </select>
            </div>
            <div class="modal-footer">
                <input type="button" id="removeFeedButton" value="Remove Feed" class="btn btn-primary btn-sm" data-dismiss="modal" onclick="removeRssFeed($('#feedRemoveSelect').val());" />
                <button type="button" class="btn btn-defaul btn-sm" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="messageModal" class="modal fade" rold="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">RSS Central</h4>
            </div>
            <div class="modal-body">
                <div id="messageDiv"></div>
            </div>
            <div class="modal-footer">
                <button type="button" id="messageButton" data-toggle="modal" class="btn btn-primary btn-sm" data-dismiss="modal" data-target="">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        var currentPage = 1;
        var searchTimeout;

        $(document).ready(function () {
            var win = $(window);

            win.scroll(function () {
                if ($(document).height() - win.height() == win.scrollTop()) {
                    currentPage++;
                    getUserFeeds(false);
                }
            });

            $('#searchText').on('keyup', function () {
                window.clearTimeout(searchTimeout);

                searchTimeout = setTimeout(function () {
                    clearContent();
                    getUserFeeds(false);
                }, 500);
            });

            $("#addModal").on('shown.bs.modal', function () {
                $('#rssFeedUrl').focus();
            });

            populateFilterFeeds('feedSelectFilter');
            getUserFeeds(true);
        })

        function getUserFeeds(update) {
            $.ajax({
                url: '/home/GetUserRssFeeds',
                type: 'GET',
                data: { 
                    'update' : update,
                    'search' : $('#searchText').val(),
                    'filter' : $('#feedSelectFilter').val(),
                    'page' : currentPage
                },
                cache:false,
                success: function (result) {
                    buildFeedItems(result);
                }
            });
        }

        function addRssFeed(rssFeedUrl) {
            rssFeedUrl = $.trim(rssFeedUrl);
            $('#messageButton').attr('data-target', '');

            if (rssFeedUrl != "") {
                $.ajax({
                    url: '/home/addRssFeed',
                    type: 'POST',
                    data: { 'rssFeedUrl': rssFeedUrl },
                    cache: false,
                    success: function (result) {
                        $('#messageDiv').text(result.message);
                        $('#messageModal').modal();

                        if (result.error == false) {
                            clearContent();
                            populateFilterFeeds();
                            getUserFeeds(false);
                        } else {
                            $('#messageButton').attr('data-target', '#addModal');
                        }
                    }
                });
            } else {
                $('#messageDiv').text('Please enter a URL.');
                $('#messageButton').attr('data-target', '#addModal');
                $('#messageModal').modal();
            }
        }

        function removeRssFeed(rssFeedId) {
            $.ajax({
                url: '/home/removeRssFeed',
                type: 'POST',
                data: { 'rssFeedId': rssFeedId },
                cache: false,
                success: function (result) {
                    alert(result.message);
                    if (result.error == false) {
                        clearContent();
                        populateFilterFeeds();
                        getUserFeeds(false);
                    }
                }
            });
        }

        function populateSelectFeeds(selectElementId) {
            $.ajax({
                url: '/home/RetrieveFilterFeeds',
                type: 'GET',
                cache: false,
                success: function (result) {
                    $.each(result, function (index, element) {             
                        $('#' + selectElementId).append($('<option>', {
                            value: element.RssFeedId,
                            text: element.Title
                        }));
                    });
                }
            });
        }

        function populateRemoveFeeds() {
            $('#feedRemoveSelect').find("option:gt(0)").remove();
            populateSelectFeeds('feedRemoveSelect');
        }

        function populateFilterFeeds() {
            $('#feedSelectFilter').find("option:gt(0)").remove();
            populateSelectFeeds('feedSelectFilter');
        }

        function buildFeedItems(feedItems) {

            var template;

            $.each(feedItems, function (index, element) {
                template = $('#template').clone();
                template.removeClass('hidden');
                template.find('.title').text(element.Title);
                template.find('.content').text(element.Description);
                template.find('.publishDate').text(element.PublishDateString);

                template.click(function () {
                    openFeed(element.Link);
                });

                template.appendTo('#feedList');
            });
        }

        function clearContent() {
            currentPage = 1;
            $('#feedList').empty();
        }

        function openFeed(url) {
            window.open(url, '_blank');
        }
    </script>
}