@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "The Reader";
    ViewBag.user_id = User.Identity.GetUserId();
}

<div class="row">
    <div class="col-md-3">
        @{Html.RenderAction("LoadUserFeedWindow", "UserFeed", new { user_id = (string)ViewBag.user_id });}
        <div>
            <button class="btn btn-danger" id="showmodalbox">Manage</button>
        </div>
        <div id="modalbox" class="modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1> Manage My Feeds</h1>
                    </div>
                    <div class="modal-body">
                        <div>
                            @Html.Partial("_SubscribeForm")
                        </div>
                        <div style="padding-top:40px;">
                            @Html.Partial("_SearchForm")
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-default" data-dismiss="modal">Close</button>
                        <!--<button class="btn btn-primary">Ok</button>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        @if ((bool)ViewBag.search == false)
{
    Html.RenderAction("LoadFeedItemWindow", "FeedItem",
      new
      {
          feed_id = (int)ViewBag.feed_id,
          user_id = (string)ViewBag.user_id
      }
   );
}
else
{
    Html.RenderAction("SearchFeedItemWindow", "FeedItem",
      new
      {          
          needle = (string)ViewBag.needle,
          feed_id = (int)ViewBag.feed_id,
          user_id = (string)ViewBag.user_id
      }
   );
}
    </div>
</div>

@section scripts{
    <script>
        $(function () {
            var modelbox = function () {
                $("#modalbox").modal("show");
            };
            $("#showmodalbox").click(modelbox);
        });
    </script>
}