@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>myNewsstand</h1>

            <p class="lead">
                This is a sample feed reader web application built to demonstrate technical skills and conceptual understanding of software development.
            </p>
            <p>Give it a try! Log in or register today.</p>
            <ul>
                <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
            </ul>
</div>

<h3>The primary functions of this application are:</h3>
<ol>
    <li>
        <h5>Account Management</h5>
        You can register for an account and login.
    </li>

    <li>
        <h5>Subscription Management</h5>
        You can add, remove, or update preferences for RSS or Atom syndication subscriptions.
    </li>

    <li>
        <h5>View Posts</h5>
        You can view posts from any of your subscriptions.
    </li>
</ol>