@{
    ViewBag.Title = "Home Page";
}

@section Head {
    <style>
        .body-content {
            padding: 50px 0 0 0;
            height: 100%;
            background-color: initial;
            background-image: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), url('/Content/home-banner.jpeg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            color: white;
        }

        .jumbotron {
            background: transparent;
        }

        footer {
            display: none;
        }
    </style>    
}

<div class="jumbotron">
    <h1 class="banner-title"><span class="fa fa-bomb"></span> Bomb Digity Feed Reader</h1>
    <p class="lead">Finally, a bomb-ass way to read RSS feeds.</p>
    <p><a href="@Url.Action("Register", "Account")" class="btn btn-primary btn-lg">Sign Up Now &raquo;</a></p>
</div>

<div class="usage-steps">
    <div class="step">
        <div>Sign Up</div>
        <div class="fa fa-5x fa-user-plus">
        </div>
    </div>
    <div class="step">
        <div>
            Subscribe
        </div>
        <div class="fa fa-5x fa-rss-square"></div>
    </div>
    <div class="step">
        <div>
            Get Your Read On
        </div>
        <div class="fa fa-5x fa-book"></div>
    </div>
</div>
