
.logoText{
    margin-top: 5%;
    font-size: 30px;
}

.right{
    float: right;
}

.left{
    float:left;
}

.indexHeader{
    width: 40%;
    color: #999;
}

.processing{
    position: absolute;
    top:30%;
    left: 40%;
    display: block;
}

#overlay{
    margin: 0px; 
    padding: 0px; 
    position: fixed !important; 
    right: 0px;
    top: 0px; 
    width: 100%; 
    height: 100%; 
    background-color: #666666 !important;
    z-index: 30001 !important;
    opacity: .8 !important; 
    filter: alpha(opacity=70) !important;
    display:none;
}

.containerDiv{
    padding: 30px;
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: 200;
    line-height: 2.1428571435;
    color: inherit;
    background-color: #222;
    border-radius: 6px;
}

h1 h2 h3 h4 h5 h6{
    color: #222 !important;
}

.pulse_text{
    font-weight: bold;
    color: #2154FF;
}

.indent{
    padding-left:30px;
}