@*model FeedReader.Models.UserSubscription*@
@model IEnumerable<FeedReader.Models.RSSFeed>
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

.boxed{
    border: 1px solid black;
}

<h2>//TODO: Dynamically add feed name</h2>
@*TODO: Figure out what this view is for...*@
<div class="boxed">
    <hr />
    <dl>
        @foreach (var item in Model)
        {
            <dt><a href=@item.link>@item.title</a></dt>
            <dd>@item.description</dd>
        }
    </dl>
</div>
<p>
   @* @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>