@model IEnumerable<FeedReader.Models.FeedItem>

@{
    ViewBag.Title = "Index";
}

<h2>Your Feed</h2>

<ul>
   @{foreach (var item in Model)
     {
         <li><a href="@item.address">@item.Title</a></li>
     }
         
         }
</ul>