@model IEnumerable<FeedReader.Models.FeedItem>

@{
    ViewBag.Title = "Index";
}

<h2>Your Feed</h2>

@using (Html.BeginForm())
{
    <p>
        Title: @Html.TextBox("SearchString") <br />
        <input type="submit" value="Filter" />
    </p>
}

<ul>
   @{foreach (var item in Model)
     {
         <li><a href="@item.address">@item.Title</a></li>
     }
         
         }
</ul>