
@{
    ViewBag.Title = "Confirm Your Email Address";
}

<h2 class="top-buffer">@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-8 whiteText">
        Please check your email, a confirmation email is being sent to @ViewBag.Email
    </div>
</div> 