@{
	ViewBag.Title = "Forgot Password Confirmation";
}

<hgroup class="title">
	<h2 class="top-buffer">@ViewBag.Title.</h2>
</hgroup>
<div class="whiteText">
	<p>
		Please check your email to reset your password.
	</p>
</div>
	
