@{
    ViewBag.Title = "Reset password confirmation";
}

<hgroup class="title">
    <h2 class="top-buffer">@ViewBag.Title.</h2>
</hgroup>
<div class="whiteText">
    <p>
        Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "orangeLink" })
    </p>
</div>
