@model Dictionary<string, List<FeedReader.Models.RssArticle>>
@{
    ViewBag.Title = "My Feeds";
}

<style type="text/css">
    .table tbody tr td {
        border: none;
    }
</style>

<h2 class="top-buffer">Show Feeds</h2>

<div class="row">
    <div class="col-md-3 backInGray roundCorners">
        <table id="subbedFeeds" class="table">
            <thead>
            <tr>
                <th style="border-top:none">
                    Subscriptions
                </th>
                <th style="border-top:none">
                    Show&nbsp;All:&nbsp;&nbsp;<input type="checkbox" name="showAll" value="showAll" id="showAll"/>
                </th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <div class="col-md-1"></div>

    <div class="col-md-8 backInGray roundCorners">
        <table class="table">
            <tr>
                <th style="border-top:none">
                    Title
                </th>
                <th style="border-top:none">
                    Description
                </th>
                <th style ="border-top:none">
                    Link
                </thstyle>
            </tr>
            <tr></tr>
        </table>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        var keyList = @Html.Raw(Json.Encode(Model.Keys));

        $(document).ready(function(){
            for(var i = 0; i < keyList.length; i++){
                buildSubscriptionTable(keyList[i]);
            }
        });
        
        function buildSubscriptionTable(key){
            $('#subbedFeeds tbody').append('<tr><td>' + key + '</td><td><input type="checkbox" name="channel" value="' + key + '"><td></tr>');
        }

        function ()
    </script>
}

