@using FeedReader.Models
<nav>
    <ul id="ulFeeds" class="nav nav-pills nav-stacked">
        <li>Views</li>
        <li>@Ajax.ActionLink("All Items", "LoadDetailPane", new { SubscriptionId = 0 }, 
                             new AjaxOptions
                                 {
                                     UpdateTargetId="feedItemsPanel", 
                                     InsertionMode = InsertionMode.Replace, 
                                     HttpMethod = "GET"
                                 })</li>
        <li>Subscriptions</li>
        @foreach (var item in Model.MenuItems)
        {
            <li>@Ajax.ActionLink((string)item.Name, "LoadDetailPane", new { item.SubscriptionId, Mode = ViewMode.Subscription }, 
                                 new AjaxOptions
                                     {
                                         UpdateTargetId="feedItemsPanel", 
                                         InsertionMode = InsertionMode.Replace, 
                                         HttpMethod = "GET"
                                     })
            </li>
        }
    </ul>
</nav>