body {
    background: url("img/news_bg.jpg") no-repeat center center fixed;
    background-size: cover;
}

#homePg{
    position: fixed;
    top: 42%;
    left: 8%;
    color: lightgray;
}

#homePg h1{
    font-size: 5em;
}

.description{
    font-size: 2.3em;
}

.links{
    font-size: 1.5em;
}

footer{
    position: fixed;
    bottom: 0;
    color: lightgray;
}

hr{
    visibility: hidden;
}
